<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <link href="plugin/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="plugin/angular/datepicker/styles/index.css" rel="stylesheet" media="screen">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="plugin/bootstrap/dropdown/betterdropdown.css" rel="stylesheet">
    <link href="css/default.css" rel="stylesheet" media="screen">
    <link href="css/roomandrates.css" rel="stylesheet" media="screen">
    <title>원매니저 - Room & Rate</title>
</head>
<body ng-app="onemanager">
<header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">One Manager</a>
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a href="#">객실</a></li>
                <li><a href="#">예약</a></li>
                <li><a href="#">프로모션</a></li>
                <li><a href="#">호텔정보</a></li>
            </ul>

        </div>
    </div>
</header>
<br><br><br><br>

<div class="container" ng-controller="RoomAndRateController" ng-mouseup="mouseup()">
    <div class="row">
        <div class="col-md-4">
            <div class="dropdown">
                <h4 class="dropdown-toggle pointer">
                    {{(start|date:"yyyy년 M월 d일 ~")||"조정할 기간을 "}}  {{(end|date:"yyyy년 M월 d일")||"선택해 주세요!"}}
                </h4>

                <div class="dropdown-menu" ng-click="$event.preventDefault();$event.stopPropagation()">
                    <div date-range start="start" end="end"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div class="pull-right">


                <div class="btn-group">
                    <button class="btn btn-success">상세보기</button>
                    <button data-toggle="dropdown" class="btn btn-success dropdown-toggle" data-placeholder="false">
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu noclose">
                        <li><input id="op1" ng-init="showAllotment = true" ng-model="showAllotment"
                                   type="checkbox"><label for="op1">객실수</label></li>
                        <li><input id="op5" ng-init="showFee = true" ng-model="showFee" type="checkbox"><label
                                for="op5">가격</label></li>
                        <li><input id="op3" ng-model="showSellstate" type="checkbox"><label for="op3">판매상태</label></li>
                        <li><input id="op4" ng-model="showCutoff" type="checkbox"><label for="op4">Cut Off</label></li>
                        <li><input id="op2" ng-model="showServiceTypes" type="checkbox"><label for="op2">상품종류</label>
                        </li>
                    </ul>
                </div>

                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">날짜형식<span
                            class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>
                            <input ng-model="dateFormat" ng-init="dateFormat='d일'" type="radio" id="ex1_1" name="ex1" value="d일">
                            <label for="ex1_1">dd일</label>
                        </li>
                        <li>
                            <input ng-model="dateFormat" type="radio" id="ex1_2" name="ex1" value="M월 d일">
                            <label for="ex1_2">MM월 dd일</label>
                        </li>
                        <li>
                            <input ng-model="dateFormat" type="radio" id="ex1_3" name="ex1" value="yyyy-M-d">
                            <label for="ex1_3">yyyy-MM-dd</label>
                        </li>
                    </ul>
                </div>
                <span ng-show="isSelectAny()" class="btn btn-danger" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> 선택 초기화</span>
            </div>

            <!-- 테이블 -->
            <table id="table" class="table none-select cursor" ng-mousedown="mousedown($event)">
                <thead>
                <tr>
                    <th></th>
                    <th ng-click="dayToggle(0)">Mon</th>
                    <th ng-click="dayToggle(1)">Tue</th>
                    <th ng-click="dayToggle(2)">Wed</th>
                    <th ng-click="dayToggle(3)">Thur</th>
                    <th ng-click="dayToggle(4)">Fri</th>
                    <th ng-click="dayToggle(5)">Sat</th>
                    <th ng-click="dayToggle(6)">Sun</th>
                </tr>
                </thead>
                <tbody>
                <tr class="buffer"></tr>
                <tr ng-repeat="week in days">
                    <th ng-click="weekToggle(week)">Week{{days.indexOf(week)+1}}</th>
                    <td ng-click="day.toggle()" ng-repeat="day in week" ng-mouseenter="day.mouseEnter($event)"
                        ng-class="{select:day.select, done:day.info.done(), process:day.info.process()}">
                        <span ng-show="day.date.getDate()">
                           {{ day.date|date:dateFormat}}
                            <div class="detail">

                                <div ng-show="day.info.allotment&&showAllotment"><i class="fa fa-building"></i>
                                    {{day.info.allotment}}

                                </div>
                                <div ng-show="day.info.sellstate&&showSellstate"><i class="fa fa-question"></i>
                                    {{day.info.sellstate.name}}
                                </div>
                                <div ng-show="day.info.cutoff&&showCutoff"><i class="fa fa-exclamation-circle"></i>
                                    {{day.info.cutoff}}
                                </div>
                                <div ng-show="day.info.fee&&showFee"><i class="fa fa-krw"></i> {{day.info.fee}}</div>
                                <div ng-show="day.info.serviceTypes&&showServiceTypes">
                                    <div class="serviceType" ng-repeat="type in day.info.serviceTypes">{{type.name}}
                                    </div>
                                </div>
                            </div>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>


        <!-- 업데이트 -->

        <div class="col-md-4">
            <div class="panel panel-default" id="update">
                <div class="panel-heading">업데이트</div>

                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th class="th none-border">선택 날짜</th>
                            <td class="none-border">
                             <span ng-repeat="week in days">
                            <span class="btn btn-border" ng-repeat="day in week" ng-click="day.toggle()"
                                  ng-show="day.select">

                            {{ day.date|date:dateFormat}} </span></span>
                            </td>
                        </tr>

                        <tr>
                            <th class="th"><i class="fa fa-building"></i> 객실수</th>

                            <td>
                                <div class="form-group">
                                    <input ng-model="allotment" ng-change="update()" type="text" class="form-control"
                                           placeholder="객실 수">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th class="th"> 상품 종류</th>

                            <td>
                                <span ng-repeat="type in serviceType" class="checkbox">
                                    <label>
                                        <input ng-change="update()" ng-model="type.select" type="checkbox">
                                        {{type.name}}
                                    </label>
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <th class="th"><i class="fa fa-question"></i> 판매상태</th>

                            <td>
                                <select class="form-control" ng-change="update()" ng-model="sellstate"
                                        ng-init="sellstate = selloptions[0]"
                                        ng-options="option.name for option in selloptions">
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th class="th"><i class="fa fa-exclamation-circle"></i> Cut Off</th>

                            <td>
                                <div class="form-group">
                                    <input ng-model="cutoff" ng-change="update()" type="text" class="form-control"
                                           placeholder="Cut Off">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <th class="th">
                                <select class="form-control" ng-model="feetype" ng-init="feetype = feeoptions[0]"
                                        ng-options="option.name for option in feeoptions">
                                </select>
                            </th>

                            <td>
                                <div class="form-group">
                                    <input ng-model="fee" ng-change="update()" type="text" class="form-control"
                                           placeholder="가격">
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>


            </div>
        </div>

    </div>
</div>


<script src="js/proto.js"></script>
<script src="plugin/jquery/jquery.js"></script>
<script src="plugin/angular/angular.js"></script>
<script src="plugin/angular/ui-bootstrap-tpls.min.js"></script>
<script src="plugin/bootstrap/bootstrap.min.js"></script>
<script src="plugin/bootstrap/dropdown/betterdropdown.js"></script>
<script src="plugin/jquery/zebra_pin.js"></script>
<!-- build:js module.min.js -->
<script src="plugin/angular/datepicker/scripts/datePicker.js"></script>
<script src="plugin/angular/datepicker/scripts/datePickerUtils.js"></script>
<script src="plugin/angular/datepicker/scripts/dateRange.js"></script>
<script src="plugin/angular/datepicker/scripts/input.js"></script>
<script src="js/roomandrates.js"></script>
</body>
</html>